alias updatebrewfile='brew bundle dump -f'
alias ll='exa --long --header --git -a'
alias cat='bat'
alias sshgen='ssh-keygen -t rsa'
alias sshkey='pbcopy < ~/.ssh/id_rsa.pub'
alias s='kitty +kitten ssh'
alias showhidden='echo "Use \"shift+cmd+.\" instead."'
alias hidehidden='echo "Use \"shift+cmd+.\" instead."'
alias forceempty='sudo rm -rf ~/.Trash; sudo rm -rf /Volumes/*/.Trashes;'
alias fixjs='rm -rf node_modules/;npm cache clear --force && npm install'
alias pn='pnpm'
alias updatexcode='xcode-select --install'
alias zj='zellij'
alias zja='zellij a -c'
alias flashkeyboard='make idank/sweeq:via:flash -e USER_NAME=idank -e POINTING_DEVICE=trackball -e TRACKBALL_RGB_RAINBOW=yes -e POINTING_DEVICE_POSITION=left -e CONVERT_TO=rp2040_ce -j8'
