export EDITOR='hx'
export VISUAL='hx'
export BAT_THEME="Catppuccin-frappe"

export PATH="$HOME/.local/bin:$PATH"
export PATH="$HOME/usr/local/bin:$PATH"
export PATH="$HOME/go/bin:$PATH"

export PNPM_HOME="$HOME/Library/pnpm"
export PATH="$HOME/Library/pnpm:$PATH"
export SECRETS_BASE="$HOME/code/.secrets"
export FZF_DEFAULT_OPTS=" \
--color=bg+:#414559,bg:#303446,spinner:#f2d5cf,hl:#e78284 \
--color=fg:#c6d0f5,header:#e78284,info:#ca9ee6,pointer:#f2d5cf \
--color=marker:#f2d5cf,fg+:#c6d0f5,prompt:#ca9ee6,hl+:#e78284"
