# Refresh completions
function refreshcompletions() {
	local DIR=$HOME/.local/share/zsh/completions

	zellij setup --generate-completion zsh > $DIR/_zellij
}

function dockspace {
	# default - add space tile to dock
	defaults write com.apple.dock persistent-apps -array-add '{"tile-type"="spacer-tile";}'
	killall Dock
}

function killport () {
    [ $# -eq 1 ] && kill $(lsof -t -i4TCP:$1) && echo 'done'
}

function sshrem() {
	# TODO : look at ssh-keyscan -H for another option
	if [ $# -lt 1 ]; then
		echo -e "missing argument: host[s]"
		return 1;
	fi
	for s in $@
	do
	echo -e "\n>> removing '$s'";
	for khfile in $(find ~/.ssh -regex '.*known_hosts[0-9]*$')
		do
            if [[ $ip =~ ^[0-9]+\.[0-9]+\.[0-9]+\.[0-9]+$ ]]; then
                # ip-address
                ssh-keygen -R "${s}" -f ${khfile} &>/dev/null && echo "success removed $target_server" || echo "problem removing $target_server"
            else
                target_server="${s}"
                target_server_ip=$(dig +search +short ${target_server})
                target_server_shortname=$(echo ${target_server} | cut -d. -f1)

                echo "Scanning : ${khfile} for '${target_server}'"

                ssh-keygen -R ${target_server} -f ${khfile} &>/dev/null && echo "success removed $target_server" || echo "problem removing $target_server"
                if [ ! -z "$target_server_ip" ]; then
                    ssh-keygen -R ${target_server_ip} -f ${khfile} &>/dev/null && echo "success removed $target_server_ip" || echo "problem removing $target_server_ip"
                fi
                if [ ! -z "$target_server_ip" ]; then
                    ssh-keygen -R ${target_server_shortname} -f ${khfile} &>/dev/null && echo "success removed $target_server_shortname" || echo "problem removing $target_server_shortname"
                fi
            fi
		done
	done
}

# remove all node_module foders within a directory
function remove_node_modules () {
	find . -name "node_modules" -type d -prune -exec rm -rf '{}' +
}

function d () {
	if [[ $# -eq 1 ]]; then
    selected=$1
	else
    items="$(find ~/Code -maxdepth 1 -mindepth 1 \( -type l -o -type d \))"
    selected="$(echo "$items" | fzf)"
	fi

	dirname="$(basename "$selected" | sed 's/\./_/g')"

	cd "$selected"
}

function a () {
	if [[ $# -eq 1 ]]; then
    selected=$1
	else
    items="$(find ~/Code -maxdepth 1 -mindepth 1 \( -type l -o -type d \))"
    selected="$(echo "$items" | fzf)"
	fi

	dirname="$(basename "$selected" | sed 's/\./_/g')"

	cd "$selected"
	zja "$dirname"
}
